page-popover {
    .algn-center {
        margin: 0 auto;
        display: table;
    }
    .algn-center button {
    display: block;
    padding: 10px 0;
    margin: 10px auto 10px;
    width: 100px;}
   

}
